* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    margin-left: 8px;
    margin-right: 8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}


.col-third {
    width: 33.33333%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

/* Main  */
#main {
    position: relative;
}

#header {
    top: 0px;
    width: 100%;
    height: 46px;
    background-color: #000;
    position: fixed;
    z-index: 1;
}

#header .nav {
    display: inline-block;
}

#header .nav > li {
    display: inline-block;
    padding: 0 24px;
    position: relative;
}

#header .search-btn {
    float: right;
    padding: 12px 24px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
}

.nav > li > a {
    color: #fff;
}


.nav > li > a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 46px;
    display: inline-block;
}

.nav li:hover {
    color: #000;
    background-color: #ccc;
}

.nav li:hover .subnav {
    display: block;
}

.nav .nav-arrow-down {
    font-size: 14px;
}

.nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 20px;
    left: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav .subnav li {
    width: 100%;
    padding: 0 15px;
    list-style-type: none;
}

.subnav li a {
    color: #000;
    line-height: 28px;
    text-decoration: none;
    text-transform: capitalize;
}
    

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/chicago.jpg) top / cover no-repeat
}

#slider .text-content {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
}

#slider .text-heading {
    font-weight: 400;
    font-size: 24px;
}

#slider .sub-heading {
    padding-top: 25px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding-bottom: 47px;
}

.clear {
    clear: both;
}

.content-section {
    padding: 36px 0 124px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    letter-spacing: 4px;
    font-weight: 400;


}


#content .section-sub-heading {
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
    margin: 15px 0;
}

#content .about-text {
    text-align: justify;
    font-size: 15px;
    margin: 15px;
}

.member-list {
    margin-top: 47px;
}

#content .member-item {
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin: 16px;
    width: 154px;
    border-radius: 4px;
}

/* Tour */

#content .tour-section {
    background-color: #000;
    color: #fff;
}
    
#content .tour-ticket {
    font-size: 15px;
    background-color: #fff;
    color: #757575;
    border-bottom: 1px solid #ddd;
    margin: 0 16px;
}
#content .tour-ticket li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}

.tour-ticket .sold-out {
    color: #fff;
    padding: 0 8px;
    background-color: #f44336;
    margin: 0 8px;
}

.tour-ticket .quantity {
    margin-top: -2px;
    margin-right: 16px;
    padding: 0 8px;
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #000;
    line-height: 24px;

}
/* PLACES */


.place-img {
    width: 100%;
    display: block;

}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background: #fff;
    color: #000;
    padding: 16px;
    font-size: 15px;
}

.place-name{
    font-size: 15px;
    font-weight: 600;
}

.ticket-time{
    margin-top: 15px;
    color: #757575;
}

.place-data{
    margin-top: 15px;
    line-height: 1.4;
}

.ticket-btn{
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 11px 17px;
    display: inline-block;
    margin-top: 15px; 
}

.ticket-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}



#footer {

}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    position: relative;
    min-height: 200px;
    animation: modalFadeIn ease .5s;
}


.modal-header {
    height: 130px;
    background-color: #009688;
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
}

.modal-close-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 16px;
}

.modal-close-icon:hover {
    background-color: #ccc;
}

.modal-heading-bag {
    margin: 16px;
}

.modal-body {
    padding: 16px;
    font-size: 15px;
}

.modal-label {
    display: block;
    margin: 15px 0;
}

.modal-input {
    padding: 8px;
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
}

#buy-tickets {
    padding: 16px;
    width: 100%;
    background-color: #009688;
    margin: 16px 0;
    color: #fff;
}

#buy-tickets:hover {
    opacity: 0.6;
    cursor: pointer;
}

.modal-footer p {
    text-align: right;
    margin: 15px 16px;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-content {
    margin-top: 48px;

}

.contact-info {
    font-size: 18px;
    line-height: 1.5;

}

.contact-info i[class*="ti-"] {
    display: inline-block;
    width: 40px;
}

.contact-form {
    font-size: 15px;

}

.contact-form .form-control {
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn {
    background-color: #000;
    color: #fff;
    padding: 11px 16px;
    border: 1px solid #000;
    float: right;
    margin-right: 16px;
}

.form-submit-btn:hover {
    cursor: pointer;
    background-color: #ccc;

}

.map-section img {
    width: 100%;
}

#footer {
    text-align: center;
    padding: 64px 16px;
}
.social-section a{
    text-decoration: none;
    color: #000;
    margin: 2px;
    font-size: 24px;
}

.copyright {
    margin: 15px;
}

.social-section a:hover{
    opacity: 0.5;
}



